#app {
  margin: 0 auto;
  text-align: center;
  padding: 36px;
}

.step-count {
  border: 0;
  font-size: 180px;
  font-weight: bold;
  background-color: #333333; /* Dark grey background */
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 999px; /* Fully rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 40px #2b2b2b, -20px -20px 40px #3b3b3b; /* slightly lighter shadow for raised effect */
}

.easy-counter {
  display: flex;
  gap: 48px;
  padding: 48px;
  justify-content: center;
}

.easy-counter .modify-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  padding: 24px;
}
